name: SwiftLint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  SwiftLint:
    runs-on: ubuntu-latest
    container:
      image: norionomura/swiftlint:swift-6.2.0
    steps:
      - uses: actions/checkout@v6
      - name: SwiftLint
        run: swiftlint lint --strict --reporter github-actions-logging
