name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  macos:
    name: macOS
    runs-on: macos-26
    env:
      AOC_SESSION: ${{ secrets.AOC_SESSION }}
    steps:
      - uses: actions/checkout@v6

      - name: Select Xcode version
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Restore Swift Package Manager cache
        uses: actions/cache@v5
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Download inputs
        run: ./Scripts/download.sh

      - name: Run tests
        run: swift test --parallel

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    container: swift:6.2.1-noble
    env:
      AOC_SESSION: ${{ secrets.AOC_SESSION }}
    steps:
      - uses: actions/checkout@v6

      - name: Restore Swift Package Manager cache
        uses: actions/cache@v5
        with:
          path: .build
          key: ${{ runner.os }}-spm-${{ hashFiles('Package.resolved') }}
          restore-keys: |
            ${{ runner.os }}-spm-

      - name: Download inputs
        run: ./Scripts/download.sh

      - name: Run tests
        run: swift test --parallel
